attrs==21.4.0
click==8.0.4
flasgger==0.9.5
Flask==2.0.3
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
itsdangerous==2.1.1
Jinja2==3.0.3
jsonschema==4.4.0
MarkupSafe==2.1.0
mistune==2.0.2
pyrsistent==0.18.1
python-dotenv==0.19.2
PyYAML==6.0
six==1.16.0
SQLAlchemy==1.4.32
Werkzeug==2.0.3
